#title {
    background-color: red;
    color: blue;
}

#content {
    color: red;
}

/*Style Standers*/
.model-content {

}

/*this is style sheet*/
/*.modelContent {

}

.ModelContent {

}*/

.content {
    margin-top: 200px;
    background-color: aqua;
}

.box-content {
    background-color: burlywood;
    margin: 75px;
    border: 30px solid #333333;
    padding: 20px;
}
